- authed = typeof user !== 'undefined'
- avatar = authed ? `https://cdn.discordapp.com/avatars/${user.discord}/${user.avatar}.png` : '/images/avatar.png'
- accountLink = authed ? '/account' : '/auth/login'
- accountAction = authed ? 'Log Out' : 'Log In'
- accountActionLink = authed ? '/auth/logout' : '/auth/login'
header
    a(href='/')
        img#logo(src='/images/CVRE.png' alt='CVRE Logo')
    div
        a(href=accountLink)
            img#avatar(src=avatar alt='Discord Avatar')
        a(href=accountActionLink) #{accountAction}