mixin player-card(player)
    card
        p Name: #{player.name}
        p School: #{player.school}
        p Discord: #{player.discord}
        p Status: #{player.status}
        p Manager: #{player.managerId}