mixin team-card(team)
    card.team-card(id="t" + team.id)
        p Division: #{team.division.name}
        p Name: #{team.name}
        p School/Region: #{team.locale}
        p Manager: #{team.manager.discord.displayName}
        if team.logo 
            img(src="/teams/logos/" + team.logo alt=team.name + " Logo")
        if block
            block