extends ../default

include ../fragments/mixins/team-card
block content
    p Log in above to assemble your team for the upcoming season!
    
    each division in divisions
        section 
            h3= division.name
            each team in division.Team 
                div.teamWrapper
                    - const solo = team.Assignment.length === 1
                    - const multi = team.Assignment.length > 1
                    .logoWrapper
                        if team.logo 
                            img.team-logo(src="/teams/logos/" + team.logo alt=team.name + " Logo" class=multi ? "" : "solo")
                    card.team-card(id="t" + team.id)
                        h4= team.name
                        p.locale(style="font-style:italic;")= team.locale
                        if multi
                            ul
                                each assignment in team.Assignment
                                    li #{assignment.alt_tag} (#{assignment.player.discord.displayName})
                            p
                                span(style="font-size:small;") Manager:
                                |  #{team.manager.discord.displayName}
                        else if solo
                            p #{team.Assignment[0].alt_tag} (#{team.Assignment[0].player.discord.displayName})
    else
        h3 No divisions exist. Check back soon!