extends ../default

include ../fragments/mixins/team-card
block content
    p Log in above to assemble your team for the upcoming season!
    
    each division in divisions
        section 
            h3= division.name
            each team in division.Team 
                card.team-card(id="t" + team.id)
                    if team.logo 
                        img.team-logo(src="/teams/logos/" + team.logo alt=team.name + " Logo")
                    h4= team.name
                    p School/Region: #{team.locale}
                    figure 
                        figcaption Players
                        ul
                            each assignment in team.Assignment
                                li #{assignment.alt_tag} (#{assignment.player.discord.displayName})
                    p Manager: #{team.manager.discord.displayName}